/* File    : TOC.css
// Author  : Eric Woodruff  (Eric@EWoodruff.us)
// Updated : 09/07/2007
//
// Stylesheet for the table of content
*/

*
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body
{
   border-width: 1px;
text-align: left;
width: 100%;
border-bottom-style: none;
overflow: auto;
font-family: 'Segoe UI',Verdana,Arial;
font-size: .813em;
color: black;
font-style: normal;
border: 0 !important;
}

input
{
	font-size: 8.5pt;
}

img
{
    border: 0;
    margin-left: 5px;
    margin-right: 2px;
}

img.TreeNodeImg
{
    cursor: pointer;
}

img.TOCLink
{
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
}

a.SelectedNode, a.UnselectedNode
{
	color: #1364C4;
    text-decoration: none;
	padding: 1px 3px 1px 3px;
    white-space: nowrap;
}

a.SelectedNode
{
	background-color: #ffffff;
    border: solid 1px #999999;
	padding: 0px 2px 0px 2px;
}

a.UnselectedNode:hover, a.SelectedNode:hover
{
	text-decoration: underline;
}

.Visible
{
    display: block;
    margin-left: 2em;
}

.Hidden
{
    display: none;
}

.Tree
{
}

.TreeNode, .TreeItem
{
    white-space: nowrap;
    margin: 2px 2px 2px 2px;
}

.TOCDiv
{
float: left;
width: 280px;
padding-bottom: 96px;
border-right: 1px solid #BBB;
margin-right: -1px;
overflow: hidden;
vertical-align: top;
text-align: left;
}

.TOCSizer
{
}

.TopicContent
{
padding-top: 10px;
text-align: left;
border-width: 1px;
overflow: auto;
border-left: 1px solid #BBB;
border-bottom: 0;
height: 100%;
min-width: 600px;
}

.SearchOpts
{
    padding: 5px 5px 0px 5px;
    background-color: lightgrey;
    color: black;
    width: 300px;
}

.NavOpts
{
    padding: 5px 5px 0px 5px;
    background-color: lightgrey;
    color: black;
    width: 300px;
}

.IndexOpts
{
    padding: 5px 5px 0px 5px;
    background-color: lightgrey;
    color: black;
    width: 300px;
}

.IndexItem
{
    white-space: nowrap;
    margin: 2px 2px 2px 2px;
}

.IndexSubItem
{
    white-space: nowrap;
    margin: 2px 2px 2px 12px;
}

.PaddedText
{
    margin: 10px 10px 10px 10px;
}

